<template id="quote-card-template">
  <div class="quote-card">
    <div class="quote-card-icon-wrapper">
      <svg class="quote-card-icon" width="20" height="20" aria-hidden="true">
        <use href="./img/sprite.svg#icon-running-figure"></use>
      </svg>
    </div>

    <div class="quote-content">
      <div class="quote-header">
        <h3 class="quote-title">Quote of the day</h3>

        <svg class="quote-decor-icon" width="20" height="20" aria-hidden="true">
          <use href="./img/sprite.svg#icon-inverted-commas"></use>
        </svg>
      </div>

      <p class="quote-text" data-quote-text>Loading quote...</p>
      <p class="quote-author" data-quote-author></p>
    </div>
  </div>
</template>