<div>
  <div data-quote-card-root></div>
  <div class="favorites-quote-row">
    <div class="daily-card">
      <svg class="daily-icon" width="20" height="20" aria-hidden="true">
        <use href="./img/sprite.svg#icon-dumbbell"></use>
      </svg>
      <p class="daily-time">110 min</p>
      <h3 class="daily-text">Daily norm of sports</h3>
    </div>
    <div class="favorites-image-card">
      <picture>
        <source type="image/avif" srcset="./img/avif/desktop/women-favorites-dt.avif 1x, ./img/avif/desktop/women-favorites-dt@2x.avif 2x" />
        <source type="image/webp" srcset="./img/webp/desktop/women-favorites-dt.webp 1x, ./img/webp/desktop/women-favorites-dt@2x.webp 2x" />
        <img class="favorites-image" src="./img/jpg/desktop/women-favorites-dt.jpg" alt="Favorite workout" />
      </picture>
    </div>
  </div>
</div>