<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      
      <div class="footer-logo-and-social">
        <a href="./index.html" class="footer-logo" aria-label="Logo">
          <svg class="footer-logo-icon" width="132" height="24">
            <use href="./img/logo.svg"></use>
          </svg>
        </a>

        <ul class="footer-social-list">
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank" 
              rel="noopener noreferrer" aria-label="Facebook" class="footer-icon">
              <svg class="footer-svg" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank" 
              rel="noopener noreferrer" aria-label="Instagram" class="footer-icon">
              <svg class="footer-svg" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank" 
              rel="noopener noreferrer" aria-label="YouTube" class="footer-icon">
              <svg class="footer-svg" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-form">
        <h2 class="footer-text">
          Transforming your <em>body</em> shape with us
        </h2>
      
        <form class="subscription-form" data-subscription-form autocomplete="off">
          <label>
            <span class="form-text">Subscribe and learn about new exercises!</span>
            <input aria-label="Email" 
              class="subscribe-input"
              type="email"
              name="email"
              required
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              placeholder="Email"
            />
          </label>
          <button class="subscribe-btn" type="submit">Send</button>
        </form>
      </div>

    </div>
    
    <div class="footer-bottom">
      <p class="footer-bottom-p">Your Energy. All rights reserved.</p>
      
      <div class="footer-links-wrapper">
        <ul class="footer-links">
          <li><a class="policy" href="#">Privacy Policy /</a></li>
          <li><a class="policy" href="#">Terms of Service</a></li>
        </ul>

        <p class="copyright">&#169;2023</p> 
      </div>
      
      
    </div>

  </div>
</footer>
