<div class="mobile-menu" data-mobile-menu>
      <div class="mobile-menu-container">
        <button class="mobile-menu-close" type="button" data-menu-close aria-label="Close menu">
          <svg width="32px" height="32px">
            <use href="./img/sprite.svg#close-menu"></use>
          </svg>
        </button>

        <ul class="mobile-menu-nav">
          <li>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <a href="./favorites.html">Favorites</a>
          </li>
        </ul>

        <ul class="mobile-social-list">
          <li class="mobile-social-list-link">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="mobile-social-list-link">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="mobile-social-list-link">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="YouTube"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>