:root {
  --color-primary: rgb(36, 36, 36, 1);
  --color-primary-light: rgba(36, 36, 36, 0.6);
  --color-primary-extra-light: rgba(36, 36, 36, 0.4);
  --color-white: rgb(255, 255, 255);
  --color-semitransparent-white: rgba(244, 244, 244, 0.2);
  --color-background: rgb(244, 244, 244, 1);
  --color-border-icon: rgba(244, 244, 244, 0.1);
  --color-border: rgba(36, 36, 36, 0.2);
  --color-email: rgba(244, 244, 244, 0.6);
  --color-copyright: rgba(198, 205, 209, 1);
  --font-main: 'DM Sans', sans-serif;
  --transition: 250ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-primary);
  background-color: var(--color-background);
}

body.no-scroll {
  overflow: hidden;
}

input {
  font-family: inherit;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.is-hidden {
  display: none !important;
}
