:root {
  --color-primary: #242424;
  --color-primary-light: rgba(36, 36, 36, 0.6);
  --color-primary-extra-light: rgba(36, 36, 36, 0.4);
  --color-white: #ffffff;
  --color-background: #f4f4f4;
  --color-border: rgba(36, 36, 36, 0.2);
  --font-main: 'DM Sans', sans-serif;
  --transition: 250ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-primary);
  background-color: var(--color-background);
}

body.no-scroll {
  overflow: hidden;
}

input {
  font-family: inherit;
}

.is-hidden {
  display: none !important;
}