[data-modal-backdrop]{
  z-index: 900;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(4, 4, 4, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;

  width: 100%;
  max-width: 335px;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  border-radius: 20px;
  color: var(--color-background);
  background-color: var(--color-primary);
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;

  border: 1px solid transparent;
  border-radius: 50%;
  background: transparent;

  transform: scale(1);
  transition:
    border-color var(--transition),
    transform var(--transition);
}

.close-btn:focus-visible {
  outline: none;
  border-color: var(--color-background);
}

.modal-close-icon {
  width: 10px;
  height: 10px;
  stroke: var(--color-background);
}

.modal-content {
  padding: 40px 20px 40px;
  overflow-y: auto;
  height: 100%;
}


.exercise-modal-media {
  overflow: hidden;
  border-radius: 12px;
}

.exercise-modal-media img {
  width: 100%;
  object-fit: cover;
}

.exercise-description {
  margin-top: 20px;
}

.exercise-heading {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-semitransparent-white);
}

.exercise-modal-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.exercise-modal-title::first-letter {
  text-transform: uppercase;
}

.rating-value {
  font-size: 16px;
  line-height: 1.3;
}

.exercise-rating-container {
  display: flex;
  gap: 4px;
}

.exercise-modal-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-semitransparent-white);
}

.info-label {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-semitransparent-white);
}

.info-value {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-background);
}

.info-value::first-letter {
  text-transform: uppercase;
}

.exercise-modal-description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(244, 244, 244, 0.6);
}

.btn-wrapper {
  margin-top: 40px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 42px;

  font-size: 14px;
  line-height: 1.3;

  border-radius: 30px;
  transition:
    color var(--transition),
    background-color var(--transition);
}

.favorite-modal-btn {
  gap: 8px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.give-rating-btn {
  background-color: transparent;
  color: var(--color-background);
  border: 1px solid var(--color-background);
}

.favorite-modal-btn:focus-visible {
  outline: none;
  color: var(--color-background);
  background-color: transparent;
  border-color: var(--color-background);
}

.give-rating-btn:focus-visible {
  outline: none;
  background-color: var(--color-background);
  color: var(--color-primary);
  border-color: transparent;
}

.favorite-modal-btn:focus-visible > .modal-btn-icon {
  stroke: var(--color-background);
}

.modal-btn-icon {
  stroke: var(--color-primary);
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .exercise-modal {
    max-width: 704px;
  }

  .modal-content {
    display: flex;
    gap: 32px;
    padding: 32px;
  }

  .exercise-description {
    margin-top: 0;
  }

  .exercise-close {
    top: 16px;
    right: 16px;

    width: 28px;
    height: 28px;
  }

  .modal-close-icon {
    width: 12px;
    height: 12px;
  }

  .exercise-modal-media {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
  }

  .exercise-heading {
    padding-bottom: 16px;
  }

  .exercise-modal-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.33;
  }

  .exercise-modal-info {
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-semitransparent-white);
  }

  .exercise-modal-description {
    margin-top: 16px;
  }

  .btn-wrapper {
    display: flex;
    gap: 6px;
    margin-top: 64px;
  }

  .modal-btn {
    height: 48px;  
    font-size: 16px;
    line-height: 1.5;
  }

  .favorite-modal-btn {
    margin-bottom: 0;
    width: 201px;
    gap: 2px;
  }

  .give-rating-btn {
    width: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-modal-btn:hover {
    color: var(--color-background);
    background-color: transparent;
    border: 1px solid var(--color-background);
  }

  .give-rating-btn:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
    border-color: transparent;
  }

  .favorite-modal-btn:hover > .modal-btn-icon {
    stroke: var(--color-background);
  }

  .close-btn:hover {
    transform: scale(1.3);
  }
}
