.favorites-quote [data-quote-card-root] .quote-card {
  width: 100%;
}

.favorites-quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorites-quote-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.favorites-daily-card,
.favorites-image-card {
  border-radius: 20px;
  overflow: hidden;
}

.favorites-daily-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: var(--color-white);
}

.favorites-quote-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  color: var(--color-primary);
}

.favorites-image-card {
  height: 119px;
}

.favorites-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorites-daily-card .daily-time {
  margin: 0 0 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--color-primary);
}

.favorites-daily-card .daily-title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(36, 36, 36, 0.6);
}

/* TABLET */
@media screen and (min-width: 768px) {
  .favorites-quote-row {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .favorites-daily-card,
  .favorites-image-card {
    height: 141px;
  }

  .favorites-daily-card {
    padding: 25px;
  }

  .favorites-daily-card .daily-time {
    font-size: 24px;
    line-height: 1.33;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .favorites-quote {
    width: 494px;
  }

  .favorites-quote .quote-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .favorites-quote .quote-text {
    font-size: 14px;
    line-height: 1.29;
  }

  .favorites-quote .quote-author {
    font-size: 16px;
    line-height: 1.5;
  }

  .favorites-daily-card,
  .favorites-image-card {
    height: 141px;
  }
}