.favorites {
  padding-top: 40px;
  padding-bottom: 40px;
}

.favorites-title {
  margin-bottom: 32px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.favorites-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

 @media screen and (min-width: 768px) {
  .favorites-content {
    gap: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-content {
    grid-template-columns: 494px 1.1fr;
    gap: 32px;
  }
}

[data-favorites-list] {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.favorite-remove-btn {
  margin-top: 20px;

  border: none;
  background: transparent;

  font-size: 22px;
}

.favorites-empty {
  max-width: 320px;
  margin: 80px auto;
  text-align: center;
  color: var(--color-primary-light);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .favorites-title {
    font-size: 44px;
  }

  [data-favorites-list] {
    grid-template-columns: repeat(2, 1fr);
  }

  .favorites-empty {
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  [data-favorites-list] {
    grid-template-columns: repeat(3, 1fr);
  }
}