.hero {
  padding-top: 20px;
  padding-bottom: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  max-width: 335px;

  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.02em;
}

.hero-text {
  max-width: 335px;

  font-size: 14px;
  line-height: 1.28;
  color: var(--color-primary-light);
}

.hero-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hero-tag {
  padding: 4px 12px;

  border: 1px solid var(--color-border);
  border-radius: 30px;

  font-size: 12px;
  line-height: 1.33;
}

.hero-image-wrapper {
  width: 100%;
  height: 460px;
  overflow: hidden;
  border-radius: 30px;
}

.hero-image-wrapper picture {
  display: block;
  width: 100%;
  height: 100%;
}

.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 24px;
    padding-bottom: 64px;
  }

  .hero-title {
    max-width: 600px;
    font-size: 74px;
  }

  .hero-text {
    max-width: 520px;
    font-size: 18px;
    line-height: 1.33;
  }

  .hero-tag {
    font-size: 14px;
  }

  .hero-image-wrapper {
    border-radius: 60px;
    height: 550px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-content {
    max-width: 600px;
  }

  .hero-image-wrapper {
    height: 350px;
  }

  .hero-image {
    object-position: center;
  }
}