[data-modal-rating] {
  z-index: 1000;
}

.rating-modal {
  padding: 40px 20px 40px;
  overflow-y: auto;
}

/* rating selection */
.rating-selection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.rating-label {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

/* radio-button styles */
.stars-radio-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.star-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-semitransparent-white);
  transition: fill var(--transition);
  cursor: pointer;
}

.live-rating-value {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-background);
  margin-right: 3px;
  order: 6;
}

/* start coloring */
.stars-radio-group input[type='radio']:checked ~ .star-label .star-icon,
.stars-radio-group .star-label:hover .star-icon,
.stars-radio-group .star-label:hover ~ .star-label .star-icon {
  fill: rgba(238, 161, 12, 1);
}

.rating-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.rating-input-field,
.rating-textarea-field {
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-background);
  padding: 12px 14px;
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 1.2;
  outline: none;
}

.rating-input-field {
  border-radius: 30px;
}

.rating-textarea-field {
  border-radius: 15px;
}

.rating-textarea-field {
  height: 93px;
  resize: none;
}

.rating-submit-btn {
  border: 1px solid transparent;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.rating-submit-btn:focus-visible {
  outline: none;
  color: var(--color-background);
  background-color: transparent;
  border-color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .rating-modal {
    max-width: 430px;
    padding: 40px;
  }

  .rating-selection {
    margin-bottom: 32px;
  }

  .rating-inputs-container {
    gap: 16px;
    margin-bottom: 32px;
  }

  .rating-input-field,
  .rating-textarea-field {
    font-size: 16px;
    line-height: 1.4;
  }

  .rating-textarea-field {
    height: 106px;
  }
}

@media screen and (min-width: 1440px) {
  .rating-submit-btn:hover {
    color: var(--color-background);
    background-color: transparent;
    border: 1px solid var(--color-background);
  }
}
